port: 7890
socks-port: 7891
allow-lan: true
mode: Rule
log-level: info
external-controller: '0.0.0.0:9090'

{{PROXIES}}

proxy-groups:
  - name: PROXY
    type: select
    proxies:
      - DIRECT
      - {{PROXY_NAMES}}

rules:
  - DOMAIN-KEYWORD,google,PROXY
  - DOMAIN-KEYWORD,youtube,PROXY
  - DOMAIN-KEYWORD,twitter,PROXY
  - FINAL,DIRECT
